<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../vendor/newdes.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-logo">
                <div class="logo">
                </div>
            </div>
            <!-- Navbar Address option -->
            <div class="nav-address border">
                <p class="add-first">Deliver to</p>
                <div class="add-icon">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="add-second">India</p>
                </div>
            </div>
            <!-- Navbar search -->
            <div class="nav-search border">
                <input type="text" placeholder="Search Recyclable Goods" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <!-- Navbar Chat  -->
            <div class="nav-chat ">
                <i class="fa-regular fa-message"></i>
            </div>
            <!-- Navbar Notification -->
            <div class="nav-notify nav-chat">
                <i class="fa-solid fa-bell"></i>
            </div>
            <!-- Navbar Login Anchor -->
            <div class="nav-login">
                <a href="../templates/userlogin.html">LOGIN</a>
            </div>
            <!-- Navbar Sell -->
            <div class="nav-sell">
                <a href="./postad.html">
                    <i class="fa-solid fa-plus"></i>
                        Sell
                </a>
            </div>
        </div>
        <!-- <div class="sub-nav">
            <div class="categories">
                <div class="all-cate">
                    All Categories
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="opts">
                    <p>cars</p>
                    <p>motorcycles</p>
                    <p>Mobile Phones</p>
                    <p>For Sales: Houses & Aparttments</p>
                    <p>Scooters</p>
                    <p>Commercial & Other Vehicles</p>
                    <p>For Rent: Houses & Apartments</p>
                </div>
            </div>
        </div> -->
    </header>
    <div class="hero-section">
        <div class="shop-sec">
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/printer\ and\ catridges.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/paper\ and\ cardboard.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/Textile\ recycling.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/packaging\ materials.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            </div>
            <div class="shop-sec">
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/Glasss\ Recycling.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/furniture.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/E-waste\ recyccling.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/construction\ and\ demolition\ waste.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            </div>
            <div class="shop-sec">
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/bulbs.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/Battery.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/automobile.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
            <div class="box-1 box">
                <h2>Title-1</h2>
                <div class="box-img" style="background-image: url(../assets/Appliances.jpg);">
                </div>
                <div class="box-content">
                    <div class="price">
                        Price in Rupees
                    </div>
                    <p>Description</p>
                    <p>Address</p>
                </div>
                <div class="date-pub">
                    <p>date</p>
                </div>
            </div>
        </div>
<!-- CREATE A BACK TO TOP BUTTON WITH THE HELP OF JAVASCIPT AND PUT IT HERE -->
    </div>
    <footer>
        <div class="social-items">
          <div class="icons">
            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="./queryemail.html">
              <i class="fa-regular fa-envelope"></i>
            </a>
          </div>  
        </div>
        <hr class="marg-line">
        <div class="foot-text">
          "Welcome to Recyclo, where sustainability meets convenience. Explore our marketplace dedicated to buying and selling recyclable goods effortlessly. Join a community committed to reducing waste and promoting eco-friendly living. Your one-stop destination for a greener, more sustainable lifestyle. Embrace the Recyclo revolution and make a positive impact on the planet, one transaction at a time."
        </div>
      </footer>
      <script href="../javscrpt files/search.js"></script>
</body>
</html>